body {
    font-family: Montserrat;
    font-style: normal;
    width: 1780px;
}

.col-1-3 {
    width: 30%;
    float: left;
}

.card-1-2 {
    width: 380px;
    height: 374px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    margin-left: 140px;
    margin-top: 150px;
}

.card-2-2 {
    width: 380px;
    height: 646px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    margin-left: 140px;
    margin-top: 40px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;

    color: #FFFFFF;
}

a .button-2 {
    color: #BC9CFF;
}

h1 {
    margin-left: 20px;
    margin-top: 40px;

    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
}



h2 {
    margin-left: 20px;
    margin-top: 21px;

    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

input {
    font-family: Montserrat;

    font-size: 14px;
    line-height: 18px;

    margin-left: 20px;
    padding-left: 5px;

    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}

.height {
    height: 44px;
}

.username {
    width: 320px;
}

.floor {
    font-size: 14px;
    line-height: 24px;
}

label {
    font-size: 14px;
    line-height: 24px;

    color: rgba(31, 32, 65, 0.75);
}

.guest {
    margin-top: 120px;
}

.guests-2 {
    width: 320px;
    height: 44px;
    left: 170px;
    top: 375px;

    margin-top: 5px;
}

.button {
    width: 320px;
    height: 44px;

    margin-left: 20px;

    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}

.button a {
    padding-left: 5em;
}

p {
    padding-top: 13px;
    text-align: left;
}

.account {
    margin-left: 20px;
    margin-top: 34px;

    font-size: 12px;
    line-height: 14px;
}

.button-2 {
    color: #BC9CFF;

    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

    margin-left: 50px;

    border: 1px solid #8BA4F9;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 22px;

    padding-left: 26px;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-right: 26px;
}

.col-2-3 {
    width: 30%;
    float: left;
}

.col-3-3 {
    width: 30%;
    float: left;
}

.col-1-1-2 {
    width: 45%;
    float: left;
}

.col-1-2-2 {
    width: 45%;
    float: left;
}

.data {
    overflow: auto;
    float: left;
}

.card-11-2 {
    width: 380px;
    height: 522px;

    margin-left: 40px;
    margin-top: 150px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.card-12-2 {
    width: 380px;
    height: 358px;

    margin-left: 40px;
    margin-top: 40px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

h3 {
    margin-left: 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: rgba(31, 32, 65, 0.75);
}

