body {
    font-family: Montserrat;

    width: 1780px;
}

header {
    padding: 20px;
}

.container {
    margin-bottom: 15px;

    width: 100%;

    padding-left: 100px;
    padding-top: 15px;


    box-shadow: 0px 10px 20px
    rgba(31, 32, 65, 0.1);
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
}

nav {
    float: right;

    margin-right: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

a {
    padding: 10px;

    text-decoration: none;
    font-size: 14px;

    color: rgba(31, 32, 65, 0.5);
}

.bolt {
    font-weight: bold;
    line-height: 17px;
    color: black;
}

.text {
    margin-top: 20px;
}

.login {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    /* Primary Color */

    color: #BC9CFF;
}

.box {
    border-radius: 22px;
}

.login {

}

.register {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: #FFFFFF;
}

.rectanle {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;

    color: aliceblue;
}
